.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    width: 100%;
    padding: 30px;
    gap: 20px;
}

.card-content{
    background-color: whitesmoke;
    text-align: left;
    height: 100%;
    border-radius: 20px;
    width: auto;
    margin-right: 10px;
    transition: .3s;
}

.card-content:hover{
    transform: scale(1.05);
    transition: .3s;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, .3);
}

.parraf{
    width: 350px;
    height: 120px;
    overflow-y: auto;
    border: solid gray 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.category-add-button{
    background-color: #53bdeb;
    border-radius: 10px;
}

.category-add-button:hover{
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .3);
    background-color: #53bdeb;
}

.category-delete-button{
    background-color: red;
    border-radius: 10px;
}

.category-delete-button:hover{
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .3);
    background-color: red;
}

.add{
    position: fixed;
    left: 89%;
    top: 80%;
}