/* General */
body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../../Components/IMG/Fondo2.02asda.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.messageValidate {
    font-size: 15px;
    text-align: center;
    color: red;
    justify-content: center;
    display: flex;
}

.label-form {
    width: 100%;
    font-weight: 500;
    margin-bottom: 5px;
    color: black;
}

.form-logo-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1.5%;
}

/* Botones */
button {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

button:hover {
    background-color: #ff7f50;
    opacity: 0.8;
}

/* Area de Login */
.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
}

.contorno-login {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: calc(100vh - 40px);
    overflow: hidden;
}

.form-auth input:focus {
    outline: none;
    border-color: #ff5733;
}


/* Area Register */
.contorno-register {
    display: flex;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #000000;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: calc(100vh - 40px);
    overflow: hidden;
    margin-top: 10%;
}


.form-auth-Register {
    margin-right: 5%;
}

.FuncionaInput {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    transition: border-color 0.3s ease;
    border-radius: 5px;
    color: #000000;
    background-color: burlywood;
    font-size: 14px;
}

.FuncionaInput:focus {
    outline: none;
    border-color: 5px #ff5733;
}

.Logo {
    max-width: 100%;
    height: auto;
    margin-top: -100px;
}

.Titulo,
.TituloL {
    color: black;
    font-size: 50px;
    margin-top: -100px;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.CambioRegister {
    margin: auto;
    padding-top: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}