/* Estilo para el contenedor del AdminFeed */
.admin-feed-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título principal */
.admin-feed-container h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilo para los elementos de navegación */
.admin-feed-container h3 {
    cursor: pointer;
    color: #ff5722;
    margin: 10px 0;
    transition: color 0.3s, transform 0.3s;
}

.admin-feed-container h3:hover {
    color: #e64a19;
    transform: translateX(10px);
}

/* Fondo y ajuste para el diseño */
body {
    font-family: Arial, sans-serif;
    color: white;
}

.admin-feed-container {
    background: black;
    color: wheat;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.admin-feed-container h3 {
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.admin-feed-container h3:hover {
    background-color: #ffebee;
    transition: background-color 0.3s ease;
}
