.footer {
  background-color: #f7f7f7;
  color: #444;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}

.footer h3 {
  color: #333;
}

.footer-nav ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li,
.footer-contact p,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 5px;
  font-size: 0.9rem;
}
