/* Estilos para el contenedor principal de la página */
#root {
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
}

/* Estilos para el contenedor de la información */
.info-background {
    background-image: url('../../Components/IMG/FondoFeed.png');    
    padding: 50px 0; /* Espaciado interno */
}

/* Estilos para el contenedor de la imagen y el contenido */
.info-container {
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para la imagen */
.IMG2 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 600px; /* Ancho máximo */
    height: auto; /* Altura automática */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 30px; /* Espacio inferior */
}

/* Estilos para la tarjeta de información */
.card-info {
    background-color: #fff; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el título */
.card-info h1 {
    margin-bottom: 20px; /* Espacio inferior */
    font-size: 32px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

/* Estilos para el texto */
.card-info p {
    font-size: 18px; /* Tamaño de fuente */
    color: #666; /* Color del texto */
    line-height: 1.6; /* Altura de línea */
}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 768px) {
    .info-background {
        padding: 30px 0; /* Espaciado interno */
    }

    .info-container {
        padding: 0 20px; /* Espaciado interno */
    }

    .IMG2 {
        margin-bottom: 20px; /* Espacio inferior */
    }

    .card-info {
        padding: 20px; /* Espaciado interno */
    }

    .card-info h1 {
        font-size: 28px; /* Tamaño de fuente */
    }

    .card-info p {
        font-size: 16px; /* Tamaño de fuente */
    }
}
